################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AFDemo
/.vs/ProjectEvaluation
/ServiceBusSenderDemo/bin/Debug/net6.0
/ServiceBusSenderDemo/obj
